<!--The content below is only a placeholder and can be replaced.-->
<easiris-navbar></easiris-navbar>
<div class="jumbotron">
  <h1>Welcome</h1>
  <h2>Easiris application</h2>
</div>
<div class="row">
  <div class="col-md-4">col 1</div>
  <div class="col-md-4">col2</div>
  <div class="col-md-4">col3</div>
</div>
<div class="row">
  <div class="col-md-4">col 21</div>
  <div class="col-md-4">col 22</div>
  <div class="col-md-4">col 23</div>
</div>

<button type="button" class="btn btn-primary"
tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
Simple demo
</button>
<router-outlet></router-outlet>
